<md-content>
  <form ng-submit="sendJob()">
    <div class="something">
      <div>
        <label for="">Company: </label>
        <input type="text" ng-model="$parent.company" name="name" value="">
      </div>
      <div>
        <label for="">Title: </label>
        <input type="text" ng-model="$parent.title" name="name" value="">
      </div>
      <div>
        <label for="">Date applied</label>
        <md-datepicker ng-model="$parent.date" md-placeholder="Enter date"></md-datepicker>
      </div>
      <input type="submit" name="name" value="Submit">
    </div>
  </form>
</md-content>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="#">Home</a></li>
      <li><a href="#applied">Applied</a></li>
      <li><a href="#rejected">Rejected</a></li>
      <li><a href="#heardBack">Heard back</a></li>
      <li><a href="#interviewScheduled">Interview scheduled</a></li>
      <li><a href="#interviewed">Interviewed</a></li>
    </ul>
  </div>
</nav>
